* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #544942;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.nav {
  background: #C7634E;
  width: 1200px;
  height: 65px;
  position: fixed;
  z-index: 100;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  font-size: 20px;
  
}

.nav-item a, footer a {
  color: #ffffff;  
  transition: color 0.5s;
  text-shadow: 1px 1px 2px black;
}

.nav-item a:hover, footer a:hover {
  color: #544942;
  text-shadow: none;
}

main {
  margin-top: 65px;
}

.left-column {
  width: 35%;
  background: #544942;
  color: #ffffff;
}

.right-column {
  width: 65%;
}

.profile {
  height: 270px;
  font-size: 28px;
  letter-spacing: 2px;
  padding-left: 40px;
  text-transform: uppercase;
}

.profile p {
  font-size: 22px;
  text-transform: none;
  margin: 0;
}

.section {
  padding: 0 30px;
  margin: 15px 0;
}

.right-column p {
  margin: 15px 0;
}

.section-title {
  background: #E3B564;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #544942;
  padding-left: 20px;
  margin: 0 -30px;
}

.history-section {
  display: flex;
  margin: 15px 0;
}

.date-section {
  width: 25%;
  font-weight: bold;
}

.place-section {
  width: 75%;
}

.place-section p {
  margin: 0;
}

ul {
  list-style-type: square;
}

a {
  text-decoration: none;
  transition: color 0.5s;
  color: #544942;
}

a:hover {
  color: #C7634E;
}

.left-column .section-title {
  color: #ffffff;
  background: none;
  padding-left: 10px;
  margin: 0;
}

.avatar {
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.avatar-section {
  height: 270px;
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.left-section {
  margin: 15px 0px 50px 35px;
}

.list-item {
  list-style: none;
  padding-left: 10px;
  line-height: 2.5;
}

.left-column a {
  text-decoration: none;
  transition: color 0.5s;
  color: #ffffff;
}

.left-column a:hover {
  text-decoration: none;
  color: #C7634E;
}

.svg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
}

.footer {
  background: #C7634E;
  margin: auto;
  width: 1200px;
  height: 65px;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
  padding: 10px 25px;
  align-items: center;
}

.footer .container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
